<h1 class="title">Happy Birthday</h1>

<div class="instagram">
<% @instagram.map do |instagram| %>

   <%= image_tag instagram.images.standard_resolution.url %>

 <% end %>
 </div>

 <div class="twitter">

     <%=  @twitter.results.first.text.to_json %>


 </div>

 <div class="vimeo">
<iframe id="player_1" src="http://player.vimeo.com/video/52989247?api=1&amp;player_id=player_1" width="540" height="304" frameborder="0"></iframe>

</div>