
<div class="top">
<span class="left">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </span>
<span class="right">
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="450" font=""></fb:like>
  </span>
</div>

    <h3 class="center">December 22th 2012</h3>



 <!-- <div class="non-semantic-protector"> -->
            <p class="ribbon">
       <strong class="ribbon-content" style="font-size: 2.3em;">Happy 19th Birthday, Daiyan Trisha!</strong>
            </p>
        <!-- </div> -->

    <div class="instagram">

    <h1 class="square">
        <div class="instag">
        <i class="icon-camera-retro icon-large"></i>
        </div>
        Instagram</h1>


<% @instagram.map do |instagram| %>
   <%= image_tag instagram.images.standard_resolution.url %>
 <% end %>


    </div>

    <div class="twitter row">


                        <h1 class="square"><div class="instag">
                        <i class="icon-twitter icon-large"></i>
                        </div>
        Twitter</h1>

                <p><a href="https://twitter.com/daiyantrisha" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @daiyantrisha</a></p>

                <h2>Join in and tweet "happy birthday" to @daiyantrisha</h2>

<ul class="twitter inline">
<% @twitter.map do |tweet| %>
    <li class="span3">
        <div class="tweet"><%= "#{tweet.text}" %></div>
        <div class="clear"></div>
        <div class="avatar"> <%= image_tag tweet.user.profile_image_url(size = :bigger) %> </div>
        <div class="clear"></div>
        <span class="username"><%= "#{tweet.user.name}" %></span>
    </li>
<% end %>
</ul>

    </div>

    <div class="vimeo">
        <h1 class="square"><div class="instag">
                        <i class="icon-facetime-video icon-large"></i>
                        </div>
                        video</h1>

<iframe id="player_1" src="http://player.vimeo.com/video/52989247?api=1&amp;player_id=player_1" width="540" height="304" frameborder="0"></iframe>
    </div>

<div class="footer">
                   <span><a href="http://ajmalafif.com" target="_blank">Made with love.</a></span>

</div>