
<div class="container-fluid">

    <div class="instagram">
        <div class="non-semantic-protector">
            <p class="ribbon">
                <strong class="ribbon-content">Happy 19th Birthday!</strong>
            </p>
        </div>

<% @instagram.map do |instagram| %>
   <%= image_tag instagram.images.standard_resolution.url %>
 <% end %>

        <div class="non-semantic-protector">
            <p class="ribbon">
                <strong class="ribbon-content">Daiyan Trisha</strong>
            </p>
        </div>
    </div>

    <div class="twitter">
<ul class="twitter inline">
<% @twitter.map do |tweet| %>
    <li><img class="avatar" src="<%= tweet.user.profile_image_url(size = :bigger) %>" /><span class="username"><%= "#{tweet.user.name}" %></span><span class="tweet"><%= "#{tweet.text}" %></span></li>
<% end %>
</ul>

    </div>

    <div class="vimeo">
<iframe id="player_1" src="http://player.vimeo.com/video/52989247?api=1&amp;player_id=player_1" width="540" height="304" frameborder="0"></iframe>

    </div>

</div>